<aside>

{% assign stable = (site.data.releases | where:"status", "stable" | first) %}

{% if stable.version %}
<div class="radius b20" style="text-align: center;">
Latest release: {{ stable.version }} ({{ stable.date }})
</div>
{% endif %}

<div class="radius b20">
  <a href="{{ site.url }}/dkpro-agreement-poster.pdf" target="_blank">
    <img src="{{ site.url }}/assets/img/dkpro-agreement-poster.png" 
        alt="DKPro Agreement poster presented at COLING 2014" 
        title="DKPro Agreement poster presented at COLING 2014">
  </a>
  <p>DKPro Agreement poster<br>(presented at COLING 2014)</p>
</div>

</aside>
